<!-- multistep form -->
<form id="msform" #signupForm="ngForm">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Account Setup</li>
    <li [ngClass]="{'active': counter > 0}">Social Profiles</li>
    <li [ngClass]="{'active': counter > 1}">Personal Details</li>
  </ul>
  <!-- fieldsets -->
  <fieldset *ngIf="counter == '0'">
    <h2 class="fs-title">Create your account</h2>
    <h3 class="fs-subtitle">This is step 1</h3>
    <input ngModel type="text" name="email" placeholder="Email" #email="ngModel" required/>
    <div class="error" *ngIf="email.touched && email.invalid">
      <span>This field is invalid</span>
    </div>
    <input ngModel type="password" name="pass" placeholder="Password" #pwd="ngModel" required/>
    <div class="error" *ngIf="pwd.touched && pwd.invalid">
      <span>This field is invalid</span>
    </div>
    <input ngModel type="password" name="cpwd" placeholder="Confirm Password" #cpwd="ngModel" required/>
    <div class="error" *ngIf="cpwd.touched">    
      <div class="error" *ngIf="cpwd.invalid">
        <span>This field is invalid</span>
      </div>
      <div class="error" *ngIf="cpwd.valid && pwd.value != cpwd.value">
        <span>Passwords don't match</span>
      </div>
    </div>
    <input type="button" (click)="nextStep(1)" [disabled]="email.invalid || pwd.invalid || cpwd.invalid || pwd.value != cpwd.value" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset *ngIf="counter == '1'">
    <h2 class="fs-title">Profile</h2>
    <h3 class="fs-subtitle">Your profile pic</h3>
    <input type="file" name="dp" (change)="onFileSelected($event)"/>
    <input type="button" (click)="nextStep(0)" name="previous" class="previous action-button" value="Previous" />
    <input type="button" (click)="nextStep(2)" name="next" class="next action-button" value="Next" />
  </fieldset>
  <fieldset *ngIf="counter == '2'">
    <h2 class="fs-title">Personal Details</h2>
    <h3 class="fs-subtitle">We will never sell it</h3>
    <input ngModel type="text" name="fname" placeholder="First Name" #fname="ngModel" required/>
    <div class="error" *ngIf="fname.touched && fname.invalid">
      <span>This field is invalid</span>
    </div>
    <input ngModel type="text" name="lname" placeholder="Last Name" #lname="ngModel" required/>
    <div class="error" *ngIf="lname.touched && lname.invalid">
      <span>This field is invalid</span>
    </div>
    <input ngModel type="text" name="phone" placeholder="Phone" #phone="ngModel" required/>
    <div class="error" *ngIf="phone.touched && phone.invalid">
      <span>This field is invalid</span>
    </div>
    <textarea ngModel name="address" placeholder="Address" #address="ngModel"></textarea>
    <div class="error" *ngIf="address.touched && address.invalid">
      <span>This field is invalid</span>
    </div>
    <input type="button" (click)="nextStep(1)" name="previous" class="previous action-button" value="Previous" />
    <input type="submit" (click)="nextStep(0);signup(signupForm.value)" [disabled]="fname.invalid || lname.invalid || phone.invalid || address.invalid" name="submit" class="submit action-button" value="Submit" />
  </fieldset>
</form>